
<h1>Oroszlán</h1>
<h2>Képek</h2>

<img src="oroszlan1.jpg" alt="oroszlán"
width="200" class="egy">



<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis repellat corporis molestias eius voluptatibus, nesciunt id quae atque placeat, beatae nam quod iste commodi, iure quasi facilis neque? Ea!
</p>
<img src="oroszlan2.jpg" alt="oroszlán"
width="200" class="ketto">
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus accusantium repellendus, cum beatae ea quae fuga fugit pariatur, provident qui explicabo voluptas culpa adipisci dicta sit, sed ipsum nemo!
</p>

